
<footer class="flex flex-row w-9/12 justify-between mb-8 mt-16">
    <div>
        <img src="{{ glide:logo:logo height="70" }}">
    </div>
    <div class="flex flex-row items-center space-x-8">
        <a href="{{ logo:facebook_link }}">
        <img src="{{ glide:logo:facebook_icon height="40" }}" class="transition duration-[400ms] ease-in-out scale-100 hover:scale-125">
        </a>
        <a href="{{ logo:instagram_link }}">
        <img src="{{ glide:logo:instagram_icon height="40" }}" class="transition duration-[400ms] ease-in-out scale-100 hover:scale-125">
        </a>
        <a href="{{ logo:linkedin_link }}">
        <img src="{{ glide:logo:linkedin_icon height="40" }}" class="transition duration-[400ms] ease-in-out scale-100 hover:scale-125">
        </a>
    </div>
    <div>
        <img src="{{ glide:logo:logo height="70" }}">
    </div>
</footer>